<h1>Data grid</h1>


<h4>Sorting Array</h4>
<p>To sort just click on the columns headers</p>
{{ sortBy$  | async | json }}


<liberty-grid>
  <liberty-grid-header (cdkDropListDropped)="onDrop($event)">
    <ng-container *ngFor="let column of columns">
      <div (click)="sort(column.column)" *dataGridCell resize>{{ column.column }}</div>
    </ng-container>
  </liberty-grid-header>
  <liberty-grid-row  *ngFor="let data of dataConent$ | async as list">
    <ng-container *ngFor="let column of columns">
      <div *dataGridCell resize>{{ data[column.column] }}</div>
    </ng-container>
  </liberty-grid-row>
</liberty-grid>
