<ng-container *ngIf="columns$ | async as columns">
  <liberty-grid>
    <liberty-grid-header cdkDropList (cdkDropListDropped)="onDrop($event)">
      <ng-container *ngFor="let column of columns">
        <div *dataGridCell resize cdkDrag cdkDragLockAxis="x">{{ column.column }}</div>
      </ng-container>
    </liberty-grid-header>
    <liberty-grid-row  *ngFor="let data of apiDataFacade.allApiData$ | async as list">
      <div *dataGridCell>{{ data.id }}</div>
      <div *dataGridCell>{{ data.name }}</div>
      <div *dataGridCell>{{ data.address }}</div>
      <div *dataGridCell>{{ data.country }}</div>
      <div *dataGridCell>{{ data.postcode }}</div>
    </liberty-grid-row>
  </liberty-grid>
</ng-container>

