<liberty-grid>
  <liberty-grid-header>
    <div *dataGridCell resize>HEADER 1</div>
    <div *dataGridCell resize>HEADER 2</div>
    <div *dataGridCell resize>HEADER 3</div>
    <div *dataGridCell resize>HEADER 4</div>
    <div *dataGridCell resize>HEADER 5</div>
    <div *dataGridCell resize>HEADER 6</div>
    <div *dataGridCell resize>HEADER 7</div>
    <div *dataGridCell resize>HEADER 8</div>
    <div *dataGridCell resize>HEADER 9</div>
  </liberty-grid-header>
  <liberty-grid-row>
    <div *dataGridCell>Body 1</div>
    <div *dataGridCell>Body 2</div>
    <div *dataGridCell>Body 3</div>
    <div *dataGridCell>Body 4</div>
    <div *dataGridCell>Body 5</div>
    <div *dataGridCell>Body 6</div>
    <div *dataGridCell>Body 7</div>
    <div *dataGridCell>Body 8</div>
    <div *dataGridCell>Body 9</div>
  </liberty-grid-row>
  <liberty-grid-row>
    <div *dataGridCell>Body 1</div>
    <div *dataGridCell>Body 2</div>
    <div *dataGridCell>Body 3</div>
    <div *dataGridCell>Body 4</div>
    <div *dataGridCell>Body 5</div>
    <div *dataGridCell>Body 6</div>
    <div *dataGridCell>Body 7</div>
    <div *dataGridCell>Body 8</div>
    <div *dataGridCell>Body 9</div>
  </liberty-grid-row>
</liberty-grid>
